[build]
  command = "pip install -r requirements.txt"

[build.environment]
  PYTHON_VERSION = "3.12"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production]
  command = "uvicorn shl_recommender:app --host 0.0.0.0 --port 8000"